<%- include('head')%>
    <div class="login-wrap clearfix">
        <form action="/login" method="post" class="clearfix login-form">
            <div class="header clearfix">
                <h1>KOA TEST BLOG</h1>
            </div>
            <div class="name clearfix">
                <label for="user">用户名：</label>
                <input type="text" name="user" placeholder="请输入用户名">
            </div>
            <div class="pass clearfix">
                <label for="pass">密码：</label>
                <input type="password" name="pass" placeholder="请输入密码">
            </div>
            <div class="btn-wrap">
                <input type="submit" value="登录" class="login-btn">
                <span>没有账号&nbsp;
                    <a href="/register">去注册</a>
                </span>
            </div>
        </form>
    </div>
    <%- include('foot')%>